<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Document</title>
</head>
<body>
    <form action="animals/new" >
        <input type="submit" value="ADD NEW ANIMAL" class="new-log"/>
    </form>
    <div class="animal">
        <% animals.forEach((a) => { %>
            
                <a href="/animals/<%= a._id %>"><%= a.name %></a>
                <%= a.age %>
                <img src="<%= a.img %>" alt="">
            
            <% }) %>
    </div>
</body>
</html>