<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
<!-- <a href="/auth/google">Sign in with google</a> -->
<a href="/auth/google">

    <html>
        <body>
            <script src="https://accounts.google.com/gsi/client" async defer></script>
            <div id="g_id_onload"
            data-client_id="759421975160-7rbkok2ru09c2j645289ca05ob006aoi.apps.googleusercontent.com"
            data-ux_mode="redirect"
            
            >
        </div>
        <div class="g_id_signin" data-type="standard"></div>
    </body>
    </html>
</a>

</body>
</html>