<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add new animal</h1>
    <div class="animal">
        <form action="/animals" method="POST">
            Name: <br><input name="name" type="text"><br>
            Age: <br><input name="age" type="text"><br>
            Add a picture:<br><input name="img" type="text"><br>
            <input type="submit" value="Add animal"><br>
            <form action="/animals">
                <input type="submit" value="BACK" />
            </form><br>
            File upload:
            
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input name="myImage" type="file">
                <input type="submit" value="Upload image" />
            </form>
        </form>
</body>
</html>