/* .animal-pic{
    width: 400px;
}
.header{
    background-image: url('yello.jpeg');
    font-size: 30px;
}

.font{
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
}

.font-size{
    font-size: 40px;
}
.home{
    align-content: center;
} */